body{
  font-size: 14px;
  color: #333;
}
.App {
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.header-panel{
  background-color: #fff;
  height: 75px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.12);
  padding: 0 30px;
}
.header-panel .navbar{
  padding: 0;
  height: 100%;
}
.header-panel .navbar .navbar-brand{
  color: #333;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.movie-container, .movie-detail-panel{
  padding: 30px 0;
}
.movieCard{
  position: relative;
  margin:10px 0;
}
.movieCard img{
  height: 300px;
}
.movieCard .card-body{
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.82);
  width: 100%;
  bottom: 0;
  text-align: left;
  padding: 15px;
}
.movieCard .card-body h5{
  font-size: 14px;
  margin-bottom: 2px;
  font-weight: bold;
}
.movieCard .card-body p {
  font-size: 12px;
  color: #3ec657;
}
.movieCard .card-body p:last-of-type{
  color: #ffaf02;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 0;
}
.footerPanel{
  height: 90px;
  margin-top: auto;
  background-color: #eaeaea;
  font-size: 14px;
  padding: 30px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.movie-detail .list-group-item{
  display: flex;
  flex-flow: row nowrap;
}
.movie-detail .list-group-item h6{
  margin-right: 5px;
}
.spinner {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.NotFound-item{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.searchPanel{
  background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
  padding: 40px 0px;
}
.searchPanel form{
  display: flex;
  flex-flow: row nowrap;
  max-width: 500px;
  margin: 0 auto;
}
.searchPanel form .form-group{
  flex: 1;
}
.searchPanel form input, .searchPanel form button{
  height: 60px;
  border-radius:0px;
  border:none;
  outline: none;
}
.searchPanel form input:focus, .searchPanel form button:focus{
  box-shadow: none;
}
.searchPanel form button{
  background-color: #3F51B5;
}